*{
    box-sizing: border-box;
    border: 0;
    padding: 0;
    margin: 0;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('https://assets.4cdn.hu/kraken/6lt32DrfWJjwCG6ta-xxl.gif')
}

.container{
    background-color: white;
    padding: 25px;
    border-radius: 20px;
}

button{
    padding: 10px;
}

input{
    padding: 10px;
}

.fa-water{
    color: rgb(128, 128, 128);
}

.fa-wind{
    color: rgb(86, 86, 253);
}

